@inject ImageService imageService
@model Book

<div class="modal fade" id="confirmBookDeletionModal-@Model.BookId" tabindex="-1" role="dialog"
     aria-labelledby="confirmBookDeletionModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    Are you sure you want to delete this Book?
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-2">
                        <img class="img-thumbnail"
                             src="@imageService.GetBase64Encoding(Model.CoverImage, Model.CoverImageType)" alt="" />
                    </div>
                    <div class="col-10 align-self-center">
                        <div class="row">
                            <h4>@Model.FullTitle</h4>
                        </div>
                        <div class="row">
                            <h5>by @Model.Author.Name</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <form method="post">
                    <button type="submit" asp-page-handler="Delete" asp-route-id="@Model.BookId"
                            class="btn btn-danger">
                        Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
